{% extends "base.html" %}


{% block title %}
Department Dashboard
{% endblock %}



{% block content %}
<div class="row g-4 mb-4">


<div class="col-md-4">


<div class="card shadow border-0 rounded-4 p-4">


<h6>Total Departments</h6>


<h2>

{{ total_departments }}

</h2>


</div>


</div>




<div class="col-md-4">


<div class="card shadow border-0 rounded-4 p-4">


<h6>Total Employees</h6>


<h2>

{{ total_employees }}

</h2>


</div>


</div>




<div class="col-md-4">


<div class="card shadow border-0 rounded-4 p-4">


<h6>Total Salary Paid</h6>


<h2>

₹{{ total_salary }}

</h2>


</div>


</div>


</div>


<div class="container-fluid">


<div class="mb-4">


<h2 class="fw-bold">

🏢 Department Dashboard

</h2>


<p class="text-muted">

Overview of departments and employee allocation

</p>


</div>





<div class="row g-4">



{% for dept in departments %}



<div class="col-lg-4 col-md-6">



<div class="card shadow border-0 rounded-4 h-100">



<div class="card-body p-4">



<div class="d-flex justify-content-between align-items-center">



<div>


<h4 class="fw-bold">


{{ dept.department_name }}


</h4>


<p class="text-muted">


{{ dept.description|default:"No description available" }}


</p>


</div>




<i class="bi bi-building-fill dashboard-icon"></i>



</div>






<hr>




<div class="d-flex justify-content-between">


<span>

👥 Employees

</span>


<span class="badge bg-primary">


{{ dept.employee_count }}

</span>


</div>
<hr>


<div class="d-flex justify-content-between">

    <span>

        💰 Salary

    </span>


    <span class="badge bg-success">

        ₹{{ dept.total_salary|default:0 }}

    </span>


</div>



<div class="d-flex justify-content-between mt-2">

    <span>

        📈 Avg Salary

    </span>


    <span class="badge bg-warning">

        ₹{{ dept.average_salary|floatformat:0|default:0 }}

    </span>


</div>



</div>



</div>



</div>



{% empty %}



<div class="col-12">


<div class="alert alert-info text-center">


No Departments Found


</div>


</div>


{% endfor %}



</div>


</div>



{% endblock %}