{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container mt-4">

<div class="card shadow border-0 rounded-4">

<div class="card-body">

<h2>{{ request.user.get_full_name }}</h2>

<hr>

<p><strong>Username:</strong> {{ request.user.username }}</p>

<p><strong>Email:</strong> {{ request.user.email }}</p>

<p><strong>First Name:</strong> {{ request.user.first_name }}</p>

<p><strong>Last Name:</strong> {{ request.user.last_name }}</p>

<a href="{% url 'edit_profile' %}" class="btn btn-primary">
Edit Profile
</a>

<a href="{% url 'change_password' %}" class="btn btn-warning">
Change Password
</a>

</div>

</div>

</div>

{% endblock %}